<?xml version="1.0" encoding="UTF-8"?>
<!-- Full version number to display -->
<?define VersionNumber="!(bind.FileVersion.ThetisEXE)" ?>
<?define NetFx480MinRelease = 528040 ?>
<!-- <?define NetFx481MinRelease = 533320 ?> -->
<?define DocumentationPath = "..\..\lib\Thetis-resources\" ?>
<?define SourcePath = "..\..\Source\" ?>
<!-- 32-bit / 64-bit variables -->
<?if $(var.Platform) = x64 ?>
<?define Win64 = "yes" ?>
<?define UpgradeCode = "1FB8D39E-FC39-4D30-BD10-F8DFD2F6C2D4"?>
<?define ProductName = "Thetis HL2" ?>
<?define ThetisName = "Thetis"?>
<?define VC143 = "Microsoft_VC143_CRT_x64.msm" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?define FilesPath = "..\..\Bin\$(var.Platform)\$(var.Configuration)\" ?>
<?else ?>
<?define Win64 = "no" ?>
<?define UpgradeCode = "B888F619-2F38-4853-BE77-65DF1A224538"?>
<?define ProductName = "Thetis (32-bit)" ?>
<?define ThetisName = "Thetis"?>
<?define VC143 = "Microsoft_VC143_CRT_x86.msm" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?define FilesPath = "..\..\Bin\$(var.Platform)\$(var.Configuration)\" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
      xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="!(loc.Language)"
           Version="$(var.VersionNumber)"
           Manufacturer="!(loc.ManufacturerName)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*"
             InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Description="!(loc.ProductDescription)"
             Comments="!(loc.Comments) $(var.VersionNumber)"/>

    <!-- Upgrade logic -->
    <!-- AllowSameVersionUpgrades -> Always upgrade, never allow two versions to be installed next to each other -->
    <!-- AllowSameVersionUpgrades causes ICE61 which must be ignored -->
	<!-- [2.10.2] MW0LGE -->
	<!-- afterInstallExecute changed to afterInstallValidate which removes any installed version before installing -->
	<!-- downside is that if install fails you wont have old version either -->
    <MajorUpgrade Schedule="afterInstallValidate" 
                  DowngradeErrorMessage="!(loc.NewerInstalled)"
                  AllowSameVersionUpgrades="yes" />
    
    <MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK45" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED"/>

    <Condition Message="[ProductName] Requires .NET Framework 4.8.0 or later to be installed. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED]]>
    </Condition>

    <WixVariable Id="WixUILicenseRtf" Value="GNU_GENERAL_PUBLIC_LICENSE.rtf" />

    <Feature Id="ProductFeature" Title="Thetis" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="DesktopShortcutHL2" />
    </Feature>

    <Feature Id="VC143Redist" Title="Visual C++ 14.3 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VC143Redist"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_Mondo" />

    <!-- UI customization -->
    <WixVariable Id="WixUIBannerBmp" Value="binary/thetis_banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="binary/thetis_background.bmp"/>

    <!-- Define icons (ID should not be longer than 18 chars") -->
    <Icon Id="icon.ico" SourceFile="binary/Thetis.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
 
    <!-- 
         Launch conditions
         
            Check minimum OS version 
            If not, the installation is aborted.
            By doing the (Installed OR ...) property means that this condition will only be evaluated if the app is being installed and not on uninstall or changing
         
            Note: Under a Product element, a condition becomes a LaunchCondition entry. 
      -->
    <Condition Message="!(loc.OS2Old)">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <?if $(var.Platform) = x64 ?>
    <Condition Message="!(loc.x86VersionRequired)">
      <![CDATA[VersionNT64]]>
    </Condition>
    <?endif?>
    
  </Product>

  <Fragment>
    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
    <Property Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED" Secure="yes" />
    <SetProperty Id="WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED" Value="1" After="AppSearch">
		WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx480MinRelease)"
	</SetProperty>
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VC143Redist" SourceFile="$(var.VC143)" DiskId="1" Language="0"/>

      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="HPSDRFolder" Name="OpenHPSDR">
          <Directory Id="INSTALLFOLDER" Name="Thetis-HL2">
		  </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="OpenHPSDRShortcutsDir" Name="OpenHPSDR">
          <Directory Id="ShortcutsDir" Name="$(var.ThetisName)">           
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder">
      </Directory>
      
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="3A24B19E-E692-4530-ABD8-6E7B737D2060">       
        <Shortcut Id="ProgramDesktopShortcut"
                  Name="$(var.ThetisName)"
                  Description="Run Thetis"
                  Target="[INSTALLFOLDER]Thetis.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM" Key="Software\OpenHPSDR\$(var.ThetisName)"
                Name="desktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="DesktopShortcutHL2" Guid="2B5082FF-264C-481D-948D-1930362AAAFB">       
        <Shortcut Id="ProgramDesktopShortcutHL2"
                  Name="$(var.ThetisName)-HL2"
                  Description="Run HL2 Thetis"
                  Target="[INSTALLFOLDER]Thetis.exe"
                  Arguments="-dbid:HL2"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM" Key="Software\OpenHPSDR\$(var.ThetisName)-HL2"
                Name="desktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ShortcutsDir">
      <Component Id="StartMenuShortcut">
              
        <Shortcut Id="ThetisShortcut"
                  Name="$(var.ThetisName)"
                  Description="Run Thetis"
                  Target="[INSTALLFOLDER]Thetis.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  />
        <Shortcut Id="ThetisShortcutHL2"
                  Name="$(var.ThetisName)-HL2"
                  Description="Run HL2 Thetis"
                  Target="[INSTALLFOLDER]Thetis.exe"
                  Arguments="-dbid:HL2"
                  WorkingDirectory="INSTALLFOLDER"
                  />
        <RemoveFolder Id="RemoveShortcutsDir" On="uninstall" />
        
        <RegistryValue Root="HKLM"
                     Key="SOFTWARE\OpenHPSDR\$(var.ThetisName)"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />

        <Shortcut Id="ThetisManualShortcut"
                      Name="ThetisManual"
                      Description="Open Thetis Manual"
                      Target="[INSTALLFOLDER]Thetis manual.pdf"
                      WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="MIDI2CATManualShortcut"
                Name="Midi2CatManual"
                Description="Open Midi2Cat Manual"
                Target="[INSTALLFOLDER]Midi2Cat_Instructions_V3.pdf"
                WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="PureSignalManualShortcut"
         Name="PureSignalManual"
         Description="Open PureSignal Manual"
         Target="[INSTALLFOLDER]PureSignal.pdf"
         WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="BehringerModsShortcut"
          Name="BehringerMods-Midi2Cat"
          Description="Open Behringer-Midi2Cat Mods"
          Target="[INSTALLFOLDER]BehringerMods_Midi2Cat_v2.pdf"
          WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="CATCommandRefShortcut"
         Name="CATCommandRef"
         Description="Open CAT-Command Ref"
         Target="[INSTALLFOLDER]Thetis-CAT-Command-Reference-Guide-V3.pdf"
         WorkingDirectory="INSTALLFOLDER" />

		  <Shortcut Id="cmASIOGuideShortcut"
            Name="cmASIOGuide"
            Description="ChannelMaster ASIO Guide"
            Target="[INSTALLFOLDER]cmASIO Guide.pdf"
            WorkingDirectory="INSTALLFOLDER" />
		  
	  </Component>
    </DirectoryRef>
	  
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      <Component Id="fwException" Guid="*" Transitive="yes">
        <Condition>Privileged</Condition>
        <File Id="ThetisEXE"
              Source="$(var.FilesPath)Thetis.exe"
              KeyPath="yes">

			<fire:FirewallException Id="thetis_$(var.Platform)_tcp"
                      Name="$(var.ThetisName) (TCP In)"
                      Description="TCP In-bound Firewall rule for OpenHPSDR SDRs running Thetis"
                      Protocol="tcp"
                      Scope="any"
                      IgnoreFailure="no"
                      Profile="all" />
			
			<fire:FirewallException Id="thetis_$(var.Platform)_udp"
                      Name="$(var.ThetisName) (UDP In)"
                      Description="UDP In-bound Firewall rule for OpenHPSDR SDRs running Thetis"
                      Protocol="udp"
                      Scope="any"
                      IgnoreFailure="no"
                      Profile="all" />
        </File>
      </Component>
      
      <Component Guid="*">
        <File Id="CATStructsXML"
              Source="$(var.FilesPath)CATStructs.xml"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="wdspDLL"
              Source="$(var.FilesPath)wdsp.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="LibFFTW33DLL"
              Source="$(var.FilesPath)libfftw3-3.dll"
              KeyPath="yes"
              />
      </Component>
		<Component Guid="*">
			<File Id="LibFFTWF33DLL"
				  Source="$(var.FilesPath)libfftw3f-3.dll"
				  KeyPath="yes"
              />
		</Component>

		<Component Guid="*">
			<File Id="rnnoiseDLL"
				  Source="$(var.FilesPath)rnnoise.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="specbleachDLL"
				  Source="$(var.FilesPath)specbleach.dll"
				  KeyPath="yes"
              />
		</Component>

	  <!-- attempt to get the MSI installer package to use a Checksum for the PA19 dll, as we
	  dont update the version number for this, but want to install it -->
      <Component Guid="*">
        <File Id="PA19DLL"
              Source="$(var.FilesPath)PA19.dll"
              KeyPath="yes"
			  Checksum="yes" 
              />
      </Component>

      <Component Guid="*">
        <File Id="ChannelMasterDLL"
              Source="$(var.FilesPath)ChannelMaster.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="cmASIODLL"
              Source="$(var.FilesPath)cmASIO.dll"
              KeyPath="yes"
              />
      </Component>

	<Component Guid="*">
		<File Id="libSkiaSharpDLL"
				Source="$(var.FilesPath)libSkiaSharp.dll"
				KeyPath="yes"
            />
	</Component>
		
		<!-- not used as baked into wdsp. Note: the post compile copy has the zetaHat.bin file copy commented with ::
      <Component Guid="*">
        <File Id="zetaHat.bin"
              Source="$(var.FilesPath)zetaHat.bin"
              KeyPath="yes"
              />
      </Component>
        -->
		
      <Component Guid="*">
        <File Id="Midi2CatDLL"
              Source="$(var.FilesPath)Midi2Cat.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="RawInputDLL"
              Source="$(var.FilesPath)RawInput.dll"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="System.BuffersDLL"
              Source="$(var.FilesPath)System.Buffers.dll"
              KeyPath="yes"
              />
      </Component>
		<Component Guid="*">
        <File Id="SharpDX.DesktopDLL"
              Source="$(var.FilesPath)SharpDX.Desktop.dll"
              KeyPath="yes"
              />
      </Component>

		<Component Guid="*">
			<File Id="Newtonsoft.JsonDLL"
				  Source="$(var.FilesPath)Newtonsoft.Json.dll"
				  KeyPath="yes"
              />
		</Component>

		<Component Guid="*">
			<File Id="MarkdigDLL"
				  Source="$(var.FilesPath)Markdig.dll"
				  KeyPath="yes"
              />
		</Component>

		<!-- 
		Additional
		-->
		<Component Guid="*">
			<File Id="System.Numerics.VectorsDLL"
				  Source="$(var.FilesPath)System.Numerics.Vectors.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Runtime.CompilerServices.UnsafeDLL"
				  Source="$(var.FilesPath)System.Runtime.CompilerServices.Unsafe.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Text.Encoding.CodePagesDLL"
				  Source="$(var.FilesPath)System.Text.Encoding.CodePages.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Threading.Tasks.ExtensionsDLL"
				  Source="$(var.FilesPath)System.Threading.Tasks.Extensions.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.ValueTupleDLL"
				  Source="$(var.FilesPath)System.ValueTuple.dll"
				  KeyPath="yes"
              />
		</Component>

		<Component Guid="*">
			<File Id="HtmlAgilityPackDLL"
				  Source="$(var.FilesPath)HtmlAgilityPack.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="SkiaSharpDLL"
				  Source="$(var.FilesPath)SkiaSharp.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Drawing.CommonDLL"
				  Source="$(var.FilesPath)System.Drawing.Common.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="ExCSSDLL"
				  Source="$(var.FilesPath)ExCSS.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="SvgDLL"
				  Source="$(var.FilesPath)Svg.dll"
				  KeyPath="yes"
              />
		</Component>
		<!-- 
		<Component Guid="*">
			<File Id="System.IO.CompressionDLL"
				  Source="$(var.FilesPath)System.IO.Compression.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.IO.Compression.ZipFileDLL"
				  Source="$(var.FilesPath)System.IO.Compression.ZipFile.dll"
				  KeyPath="yes"
              />
		</Component>
		-->
		<!-- 
		Additional end
		-->

		<!-- 
		Binding Redirects in Thetis.exe.config
		-->
		<Component Guid="*">
			<File Id="Thetis.exe.config"
				  Source="$(var.FilesPath)Thetis.exe.config"
				  KeyPath="yes"
              />
		</Component>
		<!-- 
		End Thetis.exe.config
		-->
		
		<!-- 
		CodeAnalysis for Led/MultiMeter
		-->
		<Component Guid="*">
			<File Id="Microsoft.CodeAnalysisDLL"
				  Source="$(var.FilesPath)Microsoft.CodeAnalysis.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Microsoft.CodeAnalysis.CSharpDLL"
				  Source="$(var.FilesPath)Microsoft.CodeAnalysis.CSharp.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Microsoft.CodeAnalysis.CSharp.Scripting"
				  Source="$(var.FilesPath)Microsoft.CodeAnalysis.CSharp.Scripting.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Microsoft.CodeAnalysis.ScriptingDLL"
				  Source="$(var.FilesPath)Microsoft.CodeAnalysis.Scripting.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Collections.ImmutableDLL"
				  Source="$(var.FilesPath)System.Collections.Immutable.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Reflection.MetadataDLL"
				  Source="$(var.FilesPath)System.Reflection.Metadata.dll"
				  KeyPath="yes"
              />
		</Component>
		<!-- 
		End CodeAnalysis for Led/MultiMeter section
		-->

		<!-- 
		Discord
		-->
		<Component Guid="*">
			<File Id="Discord.Net.CommandsDLL"
				  Source="$(var.FilesPath)Discord.Net.Commands.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Discord.Net.CoreDLL"
				  Source="$(var.FilesPath)Discord.Net.Core.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Discord.Net.InteractionsDLL"
				  Source="$(var.FilesPath)Discord.Net.Interactions.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Discord.Net.RestDLL"
				  Source="$(var.FilesPath)Discord.Net.Rest.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Discord.Net.WebhookDLL"
				  Source="$(var.FilesPath)Discord.Net.Webhook.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Discord.Net.WebSocketDLL"
				  Source="$(var.FilesPath)Discord.Net.WebSocket.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Microsoft.Bcl.AsyncInterfacesDLL"
				  Source="$(var.FilesPath)Microsoft.Bcl.AsyncInterfaces.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Microsoft.Extensions.DependencyInjection.AbstractionsDLL"
				  Source="$(var.FilesPath)Microsoft.Extensions.DependencyInjection.Abstractions.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="Microsoft.Win32.RegistryDLL"
				  Source="$(var.FilesPath)Microsoft.Win32.Registry.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.CodeDomDLL"
				  Source="$(var.FilesPath)System.CodeDom.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Interactive.AsyncDLL"
				  Source="$(var.FilesPath)System.Interactive.Async.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Linq.AsyncDLL"
				  Source="$(var.FilesPath)System.Linq.Async.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.ReactiveDLL"
				  Source="$(var.FilesPath)System.Reactive.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Security.AccessControlDLL"
				  Source="$(var.FilesPath)System.Security.AccessControl.dll"
				  KeyPath="yes"
              />
		</Component>
		<Component Guid="*">
			<File Id="System.Security.Principal.WindowsDLL"
				  Source="$(var.FilesPath)System.Security.Principal.Windows.dll"
				  KeyPath="yes"
              />
		</Component>
		<!-- 
		End Discord
		-->
		
		<Component Guid="*">
			<File Id="System.MemoryDLL"
				  Source="$(var.FilesPath)System.Memory.dll"
				  KeyPath="yes"
              />
		</Component>
		
      <Component Guid="*">
        <File Id="SharpDX.Direct2D1DLL"
              Source="$(var.FilesPath)SharpDX.Direct2D1.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDX.Direct3D11DLL"
              Source="$(var.FilesPath)SharpDX.Direct3D11.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDX.DXGIDLL"
              Source="$(var.FilesPath)SharpDX.DXGI.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDXDLL"
              Source="$(var.FilesPath)SharpDX.dll"
              KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="SharpDX.MathematicsDLL"
              Source="$(var.FilesPath)SharpDX.Mathematics.dll"
              KeyPath="yes"
              />
      </Component>
		<Component Guid="*">
			<File Id="WindowsFirewallHelperDLL"
				  Source="$(var.FilesPath)WindowsFirewallHelper.dll"
				  KeyPath="yes"
              />
		</Component>
      <Component Guid="*">
        <File Id="FTDI2xxDLL"
            Source="$(var.FilesPath)FTDI2XX.dll"
            KeyPath="yes"
              />
      </Component>
      <Component Guid="*">
        <File Id="PureSignalPDF"
              Source="$(var.DocumentationPath)PureSignal.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="ThetisManualPDF"
              Source="$(var.DocumentationPath)Thetis manual.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="Midi2Cat_Instructions_V3PDF"
              Source="$(var.DocumentationPath)Midi2Cat_Instructions_V3.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="BehringerMods_Midi2Cat__V2PDF"
              Source="$(var.DocumentationPath)BehringerMods_Midi2Cat_v2.pdf"
              KeyPath="yes"
              />
      </Component>

      <Component Guid="*">
        <File Id="ThetisCATCommandReferenceGuideV3PDF"
              Source="$(var.DocumentationPath)Thetis-CAT-Command-Reference-Guide-V3.pdf"
              KeyPath="yes"
              />
	  </Component>
		<Component Guid="*">
			<File Id="ThetisReleaseNotesTXT"
				Source="$(var.SourcePath)ReleaseNotes.txt"
				KeyPath="yes"
            />			  
		  </Component>
		<Component Guid="*">
			<File Id="cmASIOGuidePDF"
				Source="$(var.DocumentationPath)cmASIO Guide.pdf"
				KeyPath="yes"
            />
		</Component>
	</ComponentGroup>

    <Binary Id="InstallSkins" SourceFile="OpenHPSDR_Skins.exe" />
    <CustomAction Id="InstallSkins_CA" BinaryKey="InstallSkins"
        Impersonate="yes" Execute="deferred" ExeCommand="[SystemFolder]cmd.exe /C start OpenHPSDR_Skins.exe &amp; exit"
                  Return="check"/>

	  <Binary Id="InstallMeterSkins" SourceFile="MeterSkinInstaller.exe" />
	  <CustomAction Id="InstallMeterSkins_CA" BinaryKey="InstallMeterSkins"
		  Impersonate="yes" Execute="deferred" ExeCommand="[SystemFolder]cmd.exe /C start MeterSkinInstaller.exe"
					Return="check"/>

    <InstallExecuteSequence>
      <Custom Action='InstallSkins_CA' Before='InstallFinalize'>
        NOT Installed
      </Custom>
    </InstallExecuteSequence>

	  <InstallExecuteSequence>
		  <Custom Action='InstallMeterSkins_CA' Before='InstallFinalize'>
			  NOT Installed
		  </Custom>
	  </InstallExecuteSequence>
	  
    <!--   -->
  </Fragment>

</Wix>